<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fireapps.firedepartmentmanager">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- Fix for API 16 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="your.package.name.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="your.package.name.permission.C2D_MESSAGE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginDispatch"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".NavDrawerActivity"
            android:theme="@style/NavDrawerTheme" />
        <activity
            android:name=".PopupActivity"
            android:excludeFromRecents="true"
            android:label="Dialog Test"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:theme="@style/NewIncidentPopup" />

        <service android:name=".FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".NavDrawerActivity"
            android:theme="@style/SettingsTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fireapps.firedepartmentmanager.NavDrawerActivity" />
        </activity>
        <activity
            android:name=".IncidentDetailActivity"
            android:label="Incident Details"
            android:parentActivityName=".NavDrawerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fireapps.firedepartmentmanager.NavDrawerActivity" />
        </activity>
        <activity
            android:name=".ApparatusDetailActivity"
            android:label="Apparatus Detail"
            android:parentActivityName=".NavDrawerActivity"
            android:theme="@style/DepartmentListTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fireapps.firedepartmentmanager.NavDrawerActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service
            android:name=".GeocodeAddressIntentService"
            android:exported="false" />
        <service android:name=".WLocationService" />
        <service android:name=".WLocationService$GeofenceTransitionsIntentService" />
        <service android:name=".AudioFeedService" />
        <service android:name=".AudioStreamService" />

        <receiver android:name=".WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.fireapps.firedepartmentmanager.WIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/responding_widget_info" />
        </receiver>

        <activity
            android:name=".SignupActivity"
            android:theme="@style/SignupTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".MapNewMarker"
            android:theme="@style/NewMarkerTheme" />
        <activity
            android:name=".MapEditMarker"
            android:theme="@style/NewMarkerTheme" />
        <activity
            android:name=".LoginChooser"
            android:theme="@style/SignupTheme" />
        <activity
            android:name=".SettingsNestedActivity"
            android:theme="@style/SettingsTheme" />
        <activity
            android:name=".FirstSignupActivity"
            android:theme="@style/Theme.Intro" />
        <activity
            android:name=".MemberAdd"
            android:theme="@style/NewMemberTheme" />
        <activity
            android:name=".DepartmentList"
            android:theme="@style/DepartmentListTheme" />
        <activity
            android:name=".DepartmentAdd"
            android:theme="@style/DepartmentAddTheme" />
        <activity android:name=".OnSceneActivity"
            android:theme="@style/OnSceneTheme"
            android:parentActivityName=".NavDrawerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fireapps.firedepartmentmanager.NavDrawerActivity" />
        </activity>
    </application>

</manifest>