<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fireapps.firedepartmentmanager">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="your.package.name.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="your.package.name.permission.C2D_MESSAGE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginDispatch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".NavDrawerActivity"
            android:theme="@style/NavDrawerTheme" />
        <activity
            android:name=".PopupActivity"
            android:excludeFromRecents="true"
            android:label="Dialog Test"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:theme="@style/NewIncidentPopup">
        </activity>

        <service android:name=".FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".NavDrawerActivity"
            android:theme="@style/SettingsTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fireapps.firedepartmentmanager.NavDrawerActivity" />
        </activity>
        <activity android:name=".IncidentDetailActivity"
            android:label="Incident Details"
            android:parentActivityName=".NavDrawerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fireapps.firedepartmentmanager.NavDrawerActivity" />
        </activity>
        <activity android:name=".ApparatusDetailActivity"
            android:label="Apparatus Detail"
            android:parentActivityName=".NavDrawerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fireapps.firedepartmentmanager.NavDrawerActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service
            android:name=".GeocodeAddressIntentService"
            android:exported="false"/>
    </application>

</manifest>