<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fireapps.firedepartmentmanager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <permission
        android:name="com.fireapps.firedepartmentmanager.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.fireapps.firedepartmentmanager.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/HomeTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".LoginChooserActivity"
            android:label="@string/title_activity_login_chooser"
            android:theme="@style/LoginChooserTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".EditProfile"
            android:label="@string/title_activity_edit_profile" />
        <activity
            android:name=".InspectionActivity"
            android:label="@string/title_activity_inspection" />
        <activity
            android:name=".InspectionItemsActivity"
            android:label="@string/title_activity_inspection" />
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".LoginDispatch"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OnLocationActivity"
            android:label="@string/title_activity_on_location" />
        <activity
            android:name=".SettingsActivity"
            android:label="Settings" />
        <activity android:name=".LoginDispatchActivity" />
        ////////////////////////////////////////////////////
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver android:name=".RespondingWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.fireapps.firedepartmentmanager.WIDGET_BUTTON" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/responding_widget_info" />
        </receiver>
        <receiver
            android:name=".GcmBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.fireapps.firedepartmentmanager" />
            </intent-filter>
        </receiver>

        <service android:name=".RegistrationIntentService" />

        <activity
            android:name=".TestActivity"
            android:theme="@style/MaterialTheme.ActionBar.DayNight"></activity>

       <!-- <receiver android:name=".ConnectivityChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
-->
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <provider
            android:name="br.com.mauker.materialsearchview.db.HistoryProvider"
            android:authorities="br.com.mauker.materialsearchview.search"
            android:exported="false"
            android:protectionLevel="signature"
            android:syncable="true"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="cafa9c6af7b872de03cc01ba75de50dfef5ecaaf"
            />
    </application>

</manifest>